<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

<h3> <%= link_to "Home", root_url, :method => :get %> </h3>

<h3> <%= link_to "Blog", '/posts', :method => :get %> </h3>

Hi my name is Jonathan Wong

</body>
</html>