<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    h1 {font-size: 25px; font-weight: bold;}
</style>

<body>
<h3> <%= link_to "Home", root_url, :method => :get %> </h3>
<h3> <%= link_to "Blog", '/posts', :method => :get %> </h3>
<h3> <%= link_to "Cancel Edit", @post, :method => :get %> </h3>
    <h1> Edit Post # <%= @post.id %></h1>
    <%= render 'form', post: @post %>
    <%= button_to "Delete Post", @post, :method => :delete %>
</body>
</html>