<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    h3 {font-weight:lighter;}
</style>


<body>

<h3> <%= link_to "Home", root_url, :method => :get %> </h3>
<h3> <%= link_to "Blog", '/posts', :method => :get %> </h3>

<h3><%= link_to "Create a new blog post", "/posts/new", :method => :get %></h3>

<% @posts.each do |element| %>
  <h2><%= element.title %></h2>
  <h3><%= element.content %></h3>
  <%= link_to "Read", element, :method => :get %>
  <%= link_to "Edit", "/posts/#{element.id}/edit", :method => :put %>

<% end %>

</body>
</html>