<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
  h1 {font-size: 25px; font-weight: bold;}
</style>
<body>

<h3> <%= link_to "Home", root_url, :method => :get %> </h3>
<h3> <%= link_to "Blog", '/posts', :method => :get %> </h3>

<h1> <%=@post.title %>  </h1>
<%=@post.content %>

<%= link_to "Back to posts", '/posts', :method => :get %>
<%= link_to "Edit", "/posts/#{@post.id}/edit", :method => :put %>


</body>
</html>